@font-face {
    font-family: 'switzer';
    src: url(./font/Switzer-Variable.ttf);
}
@font-face {
    font-family: 'switzerItalic';
    src: url(./font/Switzer-VariableItalic.ttf);
}

body, p, img, h1, h2, main, header, div{
    padding: 0;
    margin: 0;
    font-family: 'switzer';
    color : black;
}

body{
    animation: appear 5s 1 ease;
    background: url(./backgroundIMG/Noise\ &\ Texture.png);
    background-size: cover;
}

main{
    opacity: 0%;
    animation: appear 1s ease-in forwards;
    height: 85svh;
    width: auto;
    margin: 2% 2.5% 0% 2.5%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    backdrop-filter: blur(5.5px);
    box-shadow: 0px 0px 10px 2px #fffcf749;
}

main:hover{
    cursor :crosshair ;
}

.navBar-container >h1{
    font-family: 'switzer';
    font-size: 2vw;
    font-weight:400;
    text-align: center;
}

.upper-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 70%;
    margin-top: -2%;
    margin-bottom: 2%;
}

.name{
    color: rgba(0, 0, 0, 0.783);
    font-family: "switzer";
    font-weight: 500;
    letter-spacing: 0.4vw;
    font-size: 5vw;
    padding: 0% 0% 0% 1.5%;
}

.subtitle{
    font-size: 2.2vw;
    font-style: normal;
    font-weight: 400;
    padding-left:05%;
}

.paragraphe1{
    width: auto;
    font-size: 2.2vw;
    font-weight: 400;
    line-height: normal;
    padding:0% 0 0 5%;;
}

.icons-container{
    display: flex;
    justify-content: space-evenly;
}

.icon-circle {
    /* position: relative; */
    fill: rgba(255, 248, 235, 0.20);
    box-shadow: 0 0 20px 0 #FFFCF7;
    border-radius: 50%;
    width: 8.5vw;
    height: 8.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s;
}

.icon-circle:hover{
    cursor: pointer;
    background-color: #fdf8f162;
    box-shadow: 0px 0px 25px 6px #FFFCF7;
}

/* animation stuff */
.icon-circle > .mail-icon{
    opacity: 0;
    animation: iconAppear 1s 1.3s ease-in forwards; 
}
.icon-circle > .cv-icon{
    opacity: 0;
    animation: iconAppear 1s 1.6s ease-in forwards; 
}
.icon-circle > .linkedin-icon{
    opacity: 0;
    animation: iconAppear 1s 1.9s ease-in forwards; 
}

.cv-icon{
    scale: 90%;
}

.linkedin-icon{
    scale: 95%;
    transform: translateY(-05%);
}



@keyframes appear {
    from {
        opacity: 0%;
        backdrop-filter: blur(0px);
    }
  
    to {
        opacity: 100%;
        backdrop-filter: blur(5.5px);
    }
  }
@keyframes iconAppear {
    from {
        opacity: 0%;
    }
  
    to {
        opacity: 100%;
    }
  }


@media only screen and (max-width: 600px) {
    .navBar-container >h1{
        font-size: 5vw;
    }
    


    .name{
        font-size: 10vw;
    }
    
    .subtitle{
        font-size: 5vw;
        padding-left:3%;
    }
    
    .paragraphe1{
        font-size: 5vw;
        padding:0% 0 0 3%;;
    }



    .icon-circle {
        width: 20vw;
        height: 20vw;
    }

    .icon-circle > .mail-icon{
        scale:0.45;
    }
    .icon-circle > .cv-icon{
        scale:0.45;
    }
    .icon-circle > .linkedin-icon{
        scale:0.45;
    }
}

/* Media query for tablets */
@media only screen and (min-width: 601px) and (max-width: 1000px) {
    .navBar-container >h1{
        font-size: 3vw;
    }
    


    .name{
        font-size: 6vw;
    }
    
    .subtitle{
        font-size: 3.5vw;
        padding-left:3%;
    }
    
    .paragraphe1{
        font-size: 3.5vw;
        padding:0% 0 0 3%;;
    }

    .icon-circle {
        width: 13vw;
        height: 13vw;
    }

    .icon-circle > .mail-icon{
        scale:0.6;
    }
    .icon-circle > .cv-icon{
        scale:0.6;
    }
    .icon-circle > .linkedin-icon{
        scale:0.6;
    }
}