@font-face {
    font-family: 'switzer';
    src: url(./font/Switzer-Variable.ttf);
}
@font-face {
    font-family: 'switzerItalic';
    src: url(./font/Switzer-VariableItalic.ttf);
}

body, p, img, h1, h2 {
    padding: 0;
    margin: 0;
    font-family: 'switzer';
    color : black;
}

body{
    background: url(./backgroundIMG/Noise\ &\ Texture.png);
    background-size: cover;
    width: 100%;
    height: 100%;
}

main{
    width: 100%;
    height: 100%;
    margin: 2% 0% 0 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBar-container{
   margin: 1% 0% 3% 0;
}

.navBar-container >h1{
    font-family: 'switzer';
    font-size: 2vw;
    font-weight:400;
    text-align: center;
}



.smaller-main-container{
    width: 95%;
    border-radius: 10px;
    background: rgb(210 210 210 / 20%);
    backdrop-filter: blur(6.5px);
    box-shadow: 0px 0px 10px 2px #fffcf749;
}


.name{
    font-family: "switzer";
    font-weight: 500;
    letter-spacing: 0.4vw;
    font-size: 5vw;
    padding: 1.3% 0% 4% 1.5%;
}

.subtitle{
    font-size: 2.2vw;
    font-style: normal;
    font-weight: 400;
    padding-left:05%;
    padding-bottom: 4.5%;
}

.lign{
    padding-left:05%;
}

.paragraphe1{
    font-size: 1.9vw;
    font-weight: 400;
    line-height: normal;
    padding:4.5% 0 0 5%;;
    width: max-content;
}

.icons-container{
    display: flex;
    justify-content: space-evenly;
    padding: 4% 0 4% 0;
}

.icon-circle {
    position: relative;
    fill: rgba(255, 248, 235, 0.20);
    box-shadow: 0 0 20px 0 #FFFCF7;
    border-radius: 50%;
    width: 10%;
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle > img{
    width: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

