@font-face {
    font-family: 'switzer';
    src: url(./font/Switzer-Variable.ttf);
}
@font-face {
    font-family: 'switzerItalic';
    src: url(./font/Switzer-VariableItalic.ttf);
}

body, p, img, h1, h2, main, header, div{
    padding: 0;
    margin: 0;
    font-family: 'switzer';
    color : black;
}

body{
    background: url(./backgroundIMG/Noise\ &\ Texture.png);
    background-size: cover;
}

main{
    height: 85svh;
    width: auto;
    margin: 2% 2.5% 0% 2.5%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    backdrop-filter: blur(5.5px);
    box-shadow: 0px 0px 10px 2px #fffcf749;
}

.navBar-container >h1{
    font-family: 'switzer';
    font-size: 2vw;
    font-weight:400;
    text-align: center;
}

.upper-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 70%;
    margin-top: -2%;
    margin-bottom: 2%;
}

.name{
    color: rgba(0, 0, 0, 0.783);
    font-family: "switzer";
    font-weight: 500;
    letter-spacing: 0.4vw;
    font-size: 5vw;
    padding: 0% 0% 0% 1.5%;
}

.subtitle{
    font-size: 2.2vw;
    font-style: normal;
    font-weight: 400;
    padding-left:05%;
}

.paragraphe1{
    width: auto;
    font-size: 2.2vw;
    font-weight: 400;
    line-height: normal;
    padding:0% 0 0 5%;;
}

.icons-container{
    display: flex;
    justify-content: space-evenly;
}

.icon-circle {
    /* position: relative; */
    fill: rgba(255, 248, 235, 0.20);
    box-shadow: 0 0 20px 0 #FFFCF7;
    border-radius: 50%;
    width: 8.5vw;
    height: 8.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cv-icon{
    scale: 90%;
}

.linkedin-icon{
    scale: 95%;
    transform: translateY(-05%);
}